Postgres DB URL Format
DB_URL=postgres://username:password@host:port/DB_NAME

Sample .env
//create two dbs for testing and development
DEV_DATABASE_URL=postgres://heroku:github@127.0.0.1:5432/doc-mgt-sys
TEST_DATABASE_URL=postgres://heroku:github@127.0.0.1:5432/test-doc-mgt-sys
SMS_SERVER_URL=https://an.sms.server
SMS_SERVER_USERNAME=username
SMS_SERVER_PASSWORD=password
